* {
  font-family: helvetica;
}

.sidebar-container {
  display: flex;
  background-color: #000000;
  margin-left: 2rem;
  flex-direction: column;
}

.twitter-icon {
  margin: 0.2rem 0.5rem .6rem 5px;
  width: 53px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s;
}

.twitter-icon:hover {
  background-color: #21669138;
}

.sidebar-left-links {
  color: white;
  font-size: 1.2rem;
  text-decoration: none !important;
  font-weight: 400;
  margin: 1.5px 0px;
  padding: 9px 30px 13px 25px;
  border-radius: 50px;
  transition: all 0.2s;
}

.sidebar-left-links:hover {
  color: white;
  background-color: rgba(67, 67, 67, 0.37);
  border-radius: 30px;
}

.home-sidebar {
  text-decoration: none;
  color: white;
  padding: 9px;
  margin: -5px;
  font-size: 1.2rem;
  font-weight: 700;
}

.home-sidebar:hover {
  background-color: rgba(67, 67, 67, 0.37);
  color: white;
  border-radius: 50px;
}

.birdhouse {
  width: 40px;
  height: 40px;
  margin-right: 0.4rem;
  margin-left: 5px;
}

.birdhouse-dot {
  position: relative;
  left: -26px;
  top: -20px;
  font-size: 0.05rem;
  padding: 0.2rem 0.22rem;
  color: #1a8cd8;
  background-color: #1a8cd8;
  border-radius: 50px;
}

.explore {
  text-decoration: none;
  color: white;
  padding: 8px;
  margin: 4px;
  font-size: 1.2rem;
}

.explore:hover {
  color: white;
  background-color: rgba(67, 67, 67, 0.37);
  border-radius: 50px;
}

.explore-icon {
  width: 40px;
  height: 40px;
  margin-right: 11px;
  margin-left: 0px;
}

.sidebar-left-links-notification {
text-decoration: none;
color: white;
padding: 9px;
font-size: 1.2rem;
}

.sidebar-left-links-notification:hover {  
  color: white;
  background-color: rgba(67, 67, 67, 0.37);
  border-radius: 50px;
  }


.notifications-count {
  position: relative;
  left: -22px;
  top: -12px;
  font-size: 0.7rem;
  padding: 0.05rem 0.3rem 0.06rem;
  background-color: #1a8cd8;
  border-radius: 50px;
}

.bell {
  width: 28px;
  margin-bottom: 5px;
  margin-right: 0.7rem;
}

.hashtag {
  margin-right: 0.5rem;
  padding-right: 5px;
}

.div-button {
  width: 10px;
}

.messages {
  text-decoration: none;
  margin-top: 5px;
}

.messages-icon {
  left: 14px;
  width: 1.9rem;
  margin: 8px 25px 11px -15px;
  padding-bottom: 4px;
  text-decoration: none;
}

.bookmarks {
  text-decoration: none;
  margin-top: 10px;
}

.bookmarks-icon {
  left: 14px;
  width: 2rem;
  margin: 10px 24px 9px -15px;
  text-decoration: none;
}

.list {
  text-decoration: none;
}

.list-icon {
  left: 14px;
  width: 2rem;
  margin: 12px 22px 16px -13px;
  text-decoration: none;
}

.profile {
  text-decoration: none;
}

.profile-icon {
  left: 14px;
  width: 1.5rem;
  margin: 12px 30px 16px -13px;
  text-decoration: none;
}

.more {
  text-decoration: none;
}

.more-icon {
  left: 14px;
  width: 1.5rem;
  margin: 12px 30px 16px -13px;
  text-decoration: none;
}

.btn-tweet {
  width: 240px;
  margin-top: 1.3rem;
  border-radius: 50px;
  padding: 13px 0px;
  font-weight: 700;
  background-color: #1a8cd8;
  color: white;
  border: solid 1px #1a8cd8;
}

/* campanita
<svg viewBox="0 0 24 24" aria-hidden="true" width="24px"
            class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e">
            <g>
              <path
                d="M21.697 16.468c-.02-.016-2.14-1.64-2.103-6.03.02-2.532-.812-4.782-2.347-6.335C15.872 2.71 14.01 1.94 12.005 1.93h-.013c-2.004.01-3.866.78-5.242 2.174-1.534 1.553-2.368 3.802-2.346 6.334.037 4.33-2.02 5.967-2.102 6.03-.26.193-.366.53-.265.838.102.308.39.515.712.515h4.92c.102 2.31 1.997 4.16 4.33 4.16s4.226-1.85 4.327-4.16h4.922c.322 0 .61-.206.71-.514.103-.307-.003-.645-.263-.838zM12 20.478c-1.505 0-2.73-1.177-2.828-2.658h5.656c-.1 1.48-1.323 2.66-2.828 2.66zM4.38 16.32c.74-1.132 1.548-3.028 1.524-5.896-.018-2.16.644-3.982 1.913-5.267C8.91 4.05 10.397 3.437 12 3.43c1.603.008 3.087.62 4.18 1.728 1.27 1.285 1.933 3.106 1.915 5.267-.024 2.868.785 4.765 1.525 5.896H4.38z">
              </path>
            </g>
          </svg>
          */

/* 
<svg viewBox="0 0 24 24" aria-hidden="true" width="24px"
              class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e">
              <g>
                <path
                  d="M19.25 3.018H4.75C3.233 3.018 2 4.252 2 5.77v12.495c0 1.518 1.233 2.753 2.75 2.753h14.5c1.517 0 2.75-1.235 2.75-2.753V5.77c0-1.518-1.233-2.752-2.75-2.752zm-14.5 1.5h14.5c.69 0 1.25.56 1.25 1.25v.714l-8.05 5.367c-.273.18-.626.182-.9-.002L3.5 6.482v-.714c0-.69.56-1.25 1.25-1.25zm14.5 14.998H4.75c-.69 0-1.25-.56-1.25-1.25V8.24l7.24 4.83c.383.256.822.384 1.26.384.44 0 .877-.128 1.26-.383l7.24-4.83v10.022c0 .69-.56 1.25-1.25 1.25z">
                </path>
              </g>
            </svg>
/* bookmarks    
<svg viewBox="0 0 24 24" aria-hidden="true" width="24px"
              class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e">
              <g>
                <path
                  d="M19.25 3.018H4.75C3.233 3.018 2 4.252 2 5.77v12.495c0 1.518 1.233 2.753 2.75 2.753h14.5c1.517 0 2.75-1.235 2.75-2.753V5.77c0-1.518-1.233-2.752-2.75-2.752zm-14.5 1.5h14.5c.69 0 1.25.56 1.25 1.25v.714l-8.05 5.367c-.273.18-.626.182-.9-.002L3.5 6.482v-.714c0-.69.56-1.25 1.25-1.25zm14.5 14.998H4.75c-.69 0-1.25-.56-1.25-1.25V8.24l7.24 4.83c.383.256.822.384 1.26.384.44 0 .877-.128 1.26-.383l7.24-4.83v10.022c0 .69-.56 1.25-1.25 1.25z">
                </path>
              </g>
            </svg>
*/

/* lista
  <svg viewBox="0 0 24 24" aria-hidden="true" width="24px"
            class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e">
            <g>
              <path
                d="M19.9 23.5c-.157 0-.312-.05-.442-.144L12 17.928l-7.458 5.43c-.228.164-.53.19-.782.06-.25-.127-.41-.385-.41-.667V5.6c0-1.24 1.01-2.25 2.25-2.25h12.798c1.24 0 2.25 1.01 2.25 2.25v17.15c0 .282-.158.54-.41.668-.106.055-.223.082-.34.082zM12 16.25c.155 0 .31.048.44.144l6.71 4.883V5.6c0-.412-.337-.75-.75-.75H5.6c-.413 0-.75.338-.75.75v15.677l6.71-4.883c.13-.096.285-.144.44-.144z">
              </path>
            </g>
          </svg>
*/

/* 
<svg viewBox="0 0 24 24" aria-hidden="true" width="24px"
              class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e">
              <g>
                <path
                  d="M12 11.816c1.355 0 2.872-.15 3.84-1.256.814-.93 1.078-2.368.806-4.392-.38-2.825-2.117-4.512-4.646-4.512S7.734 3.343 7.354 6.17c-.272 2.022-.008 3.46.806 4.39.968 1.107 2.485 1.256 3.84 1.256zM8.84 6.368c.162-1.2.787-3.212 3.16-3.212s2.998 2.013 3.16 3.212c.207 1.55.057 2.627-.45 3.205-.455.52-1.266.743-2.71.743s-2.255-.223-2.71-.743c-.507-.578-.657-1.656-.45-3.205zm11.44 12.868c-.877-3.526-4.282-5.99-8.28-5.99s-7.403 2.464-8.28 5.99c-.172.692-.028 1.4.395 1.94.408.52 1.04.82 1.733.82h12.304c.693 0 1.325-.3 1.733-.82.424-.54.567-1.247.394-1.94zm-1.576 1.016c-.126.16-.316.246-.552.246H5.848c-.235 0-.426-.085-.552-.246-.137-.174-.18-.412-.12-.654.71-2.855 3.517-4.85 6.824-4.85s6.114 1.994 6.824 4.85c.06.242.017.48-.12.654z">
                </path>
              </g>
            </svg>
*/
