* {
  font-family: helvetica;
}

.sidebar-container {
  display: flex;
  background-color: #000000;
  margin-left: 2rem;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  justify-content: space-between;
}

.twitter-icon {
  margin: 0.2rem 0.5rem 0.6rem 5px;
  width: 53px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s;
}

.twitter-icon:hover {
  background-color: #21669138;
}

.sidebar-left-links {
  color: white;
  font-size: 1.2rem;
  text-decoration: none !important;
  font-weight: 400;
  margin: 1.5px 0px;
  padding: 9px 30px 13px 25px;
  border-radius: 50px;
  transition: all 0.2s;
}

.sidebar-left-links:hover {
  color: white;
  background-color: rgba(67, 67, 67, 0.37);
  border-radius: 30px;
}

.home-sidebar {
  text-decoration: none;
  color: white;
  padding: 9px;
  margin: -5px;
  font-size: 1.2rem;
  font-weight: 700;
}

.home-sidebar:hover {
  background-color: rgba(67, 67, 67, 0.37);
  color: white;
  border-radius: 50px;
}

.birdhouse {
  width: 40px;
  height: 40px;
  margin-right: 0.4rem;
  margin-left: 5px;
}

.birdhouse-dot {
  position: relative;
  left: -26px;
  top: -20px;
  font-size: 0.05rem;
  padding: 0.2rem 0.22rem;
  color: #1a8cd8;
  background-color: #1a8cd8;
  border-radius: 50px;
}

.explore {
  text-decoration: none;
  color: white;
  padding: 8px;
  margin: 4px;
  font-size: 1.2rem;
}

.explore:hover {
  color: white;
  background-color: rgba(67, 67, 67, 0.37);
  border-radius: 50px;
}

.explore-icon {
  width: 40px;
  height: 40px;
  margin-right: 11px;
  margin-left: 0px;
}

.sidebar-left-links-notification {
  text-decoration: none;
  color: white;
  padding: 9px;
  font-size: 1.2rem;
}

.sidebar-left-links-notification:hover {
  color: white;
  background-color: rgba(67, 67, 67, 0.37);
  border-radius: 50px;
}

.notifications-count {
  position: relative;
  left: -22px;
  top: -12px;
  font-size: 0.7rem;
  padding: 0.05rem 0.3rem 0.06rem;
  background-color: #1a8cd8;
  border-radius: 50px;
}

.bell {
  width: 28px;
  margin-bottom: 5px;
  margin-right: 0.7rem;
}

.hashtag {
  margin-right: 0.5rem;
  padding-right: 5px;
}

.div-button {
  width: 10px;
}

.messages {
  text-decoration: none;
  margin-top: 5px;
}

.messages-icon {
  left: 14px;
  width: 1.9rem;
  margin: 8px 25px 11px -15px;
  padding-bottom: 4px;
  text-decoration: none;
}

.bookmarks {
  text-decoration: none;
  margin-top: 10px;
}

.bookmarks-icon {
  left: 14px;
  width: 2rem;
  margin: 10px 24px 9px -15px;
  text-decoration: none;
}

.list {
  text-decoration: none;
}

.list-icon {
  left: 14px;
  width: 2rem;
  margin: 12px 22px 16px -13px;
  text-decoration: none;
}

.profile {
  text-decoration: none;
}

.profile-icon {
  left: 14px;
  width: 1.5rem;
  margin: 12px 30px 16px -13px;
  text-decoration: none;
}

.more {
  text-decoration: none;
}

.more-icon {
  left: 14px;
  width: 1.5rem;
  margin: 12px 30px 16px -13px;
  text-decoration: none;
}

.btn-tweet {
  width: 240px;
  margin-top: 1.3rem;
  border-radius: 50px;
  padding: 13px 0px;
  font-weight: 700;
  background-color: #1a8cd8;
  color: white;
  border: solid 1px #1a8cd8;
}



.logout {
  background-color: transparent; 
  height: 63px;
  border-radius: 50px;
  position: relative;
  bottom: 12px;
  cursor: pointer;
}

.logout:hover {
  background-color: #1f2228;
  border: none;
}

.logoutBtn {
  position: relative;
  padding: 10px 75px 30px;
  background-color: transparent;
  color: white;
  font-weight: 700;
  right: 52px;
  border: none;
  width: 195px;  
}

.logoutNick {
  position: relative;
  font-size: 1rem;
  top: -37px;
  right: -74px;
  color: #63686d;
}

.profileImageSidebar {
  position: relative;
  left: 12px;
  top: 7px;
  border-radius: 50px;
  width: 45px;
  z-index: 2;
  margin-right: 5px;
}

.three-dots-logout {
width: 30px;
left: -13px;
top: 7px;
position: relative;
}


.modal-container {
  width: 100px;
  height: 100px;
}