.general-container {
  width: 368px;
}

.search-container {
  position: relative;
  min-width: 100%;
  background-color: black;
  width: 356px;
  margin-left: 17px;
}

.search-icon {
  position: absolute;
  top: 10px;
  margin: 15px;
  width: 20px;
  height: 30px;
  background-color: #202327;
}

.search-input {
  /* margin-left: 45px; */
  height: 45px;
  width: 100%;
  border-radius: 50px;
  color: white;
}

.search-input:placeholder-shown {
  background-color: #202327;
  left: 60px;
  color: white;
  border: blue;
}

.search-input::placeholder {
  color: #63686d;
}

textarea:focus,
input:focus,
input[type]:focus {
  border-color: #1a8cd8;
  border: 1px solid #1a8cd8;
  outline: 0 none;
}

.trends-container {
  display: flex;
  flex-direction: column;
  width: 364px;
  background-color: black;
  background-color: #16181c;
  border-radius: 17px 17px 17px 17px !important;
  margin-bottom: 15px;
  margin-left: 18px;
}

.trends-for-you {
  position: relative;
  margin-left: 20px;
  top: 10px;
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  color: white;
  background-color: #16181c;
  border-radius: 17px;
}

.trends-for-you-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #16181c;
  cursor: pointer;
  height: 76px;
  padding-bottom: 39px;
  transition: all 0.3s;
}

.trends-for-you-list:hover {
  background-color: #1f2228 !important;
}

.trending-in {
  font-size: 0.8rem;
  background-color: transparent;
  color: #63686d;
  margin: 0;
  margin-left: 18px;
}

.trending-profile-name {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 18px;
  background-color: transparent;
  margin-bottom: 0px !important;
}

.trending-profile-tweets {
  background-color: transparent;
  font-size: 0.8rem;
  color: #63686d;
  margin-left: 18px;
  margin-bottom: 0px !important;
}

.three-dots-trends {
  position: relative;
  background-color: transparent;
  width: 35px;
  left: 318px;
  padding: 5px;
  top: 50px;
  border-radius: 50%;
  transition: all 0.3s;
}

.three-dots-trends:hover {
  background-color: #21669138;
}

.show-more-trends-container {
  padding: 17px 0;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  height: 100%;
}

.show-more-trends-container:hover {
  background-color: #1f2228;
}

.show-more-trends:hover {
  color: #1d9bf0;
}

.show-more-trends {
  background-color: transparent;
  font-size: 1rem;
  color: #1d9bf0;
  text-decoration: none;
  margin-left: 18px;
}

.who-to-follow-container {
  position: absolute;
  background-color: #16181c;
  border-radius: 17px;
  width: 364px;
  min-width: 335px;
  margin-left: 20px;
}

.who-to-follow {
  font-size: 1.2rem;
  font-family: arial;
  font-weight: 800;
  color: white;
  padding: 10px 0 10px 15px;
  background-color: #16181c;
  border-radius: 17px;
}

.profile-container {
  background-color: #16181c;
  position: relative;
  padding-top: 10px;
  transition: all 0.2s;
  height: 70px;
}

.profile-container:hover {
  background-color: #1f2228;
}

.profile-container img {
  position: relative;
  left: 0px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 14px 20px 20px;
}

.who-to-follow-img-container {
  position: relatives;
  left: 10px;
}

.img-who-to-follow {
  position: absolute;
}

.profile-nick {
  position: relative;
  top: 6px;
  right: 0px;
  color: white;
  font-family: helvetica;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  background-color: transparent;
}

.profile-nick:hover {
  color: white;
  text-decoration: underline;
}

.profile-name {
  background-color: transparent;
  position: absolute;
  top: 37px;
  left: 84px;
  color: #63686d;
  font-family: arial;
  font-weight: 200;
  font-size: 0.9rem;
  height: fit-content !important;
}

.follow-buton {
  display: flex;
  position: absolute;
  left: 268px;
  top: 19px;
  background-color: white;
  font-size: 0.9rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 80px;
  font-weight: 600;
  border-radius: 20px;
  padding: 0px 18px;
  border: 0.3px solid black;
}
