.search-container {
  position: relative;
  min-width: 100%;
  background-color: black;
}

.search-icon {
  position: absolute;
  top: 10px;  
  margin: 15px;
  width: 20px;
  height: 30px;
  background-color: #202327;
}

.search-input {
  /* margin-left: 45px; */
  height: 45px;
  width: 100%;
  border-radius: 50px;
  color: white;
}

.search-input:placeholder-shown {
  background-color: #202327;
  left: 60px;
  color: white;
  border: blue;
}

.search-input::placeholder {
  color: #63686d;
}

textarea:focus,
input:focus,
input[type]:focus {
  border-color: #1a8cd8;
  border: 1px solid #1a8cd8;
  outline: 0 none;
}

.trends-container {
  display: flex;
  flex-direction: column;  
  width: 368px;
  background-color: black;
  padding: 10px 40px 20px 15px;
  background-color: #16181c;
  border-radius: 17px; 
  margin-bottom: 15px;
}

.trends-for-you {
  font-size: 1.2rem;
  font-family: arial;
  font-weight: 800;
  color: white;
  background-color: #16181c;
  border-radius: 17px;
  width: 100%;
}

.trends-for-you-list {
  display: flex;
  flex-direction: column;
  background-color: #16181c;
  cursor: pointer;
  margin-bottom: 0;
  transition: all 0.3s;
}

.trends-for-you-list:hover {
  background-color: #7f8184a3 !important;
}

.trending-in {
  font-size: 0.8rem;
  background-color: #16181c;
  color: #63686d;
  margin: 0;
}

.trending-profile-name {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  background-color: #16181c;
}

.trending-profile-tweets {
  font-size: 0.8rem;
  background-color: #16181c;
  color: #63686d;
  margin: 0;
}

.three-dots-trends {
  position: relative;
  left: 300px;
  width: 35px;
  top: 50px;
  background-color: #16181c;
  border-radius: 50%;
  padding: 5px;
  transition: all 0.3s;
}

.three-dots-trends:hover {
  background-color: #21669138;
}

.who-to-follow-container {
  position: absolute;
  padding-bottom: 15px;
  background-color: #16181c;
  border-radius: 17px;
  width: 368px;
  min-width: 335px;
}

.who-to-follow {
  font-size: 1.2rem;
  font-family: arial;
  font-weight: 800;
  color: white;
  padding: 10px 0 10px 15px;
  background-color: #16181c;
  border-radius: 17px;
}

.profile-container {
  background-color: #16181c;  
  position: relative;
}

.profile-container img {
  position: relative;
  left: -80px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 14px 20px 20px;
}

.profile-nick {
  position: relative;
  top: 6px;
  right: 85px;
  color: white;
  font-family: helvetica;
  font-weight: 600;
  font-size: .9rem;
  text-decoration: none;
  background-color: #16181c;
}

.profile-nick:hover {
  color: white;
  text-decoration: underline;
}

.profile-name {
  background-color: #16181c;
  position: absolute;
  top: 26px;
  left: 79px;
  color: #63686d;
  font-family: arial;
  font-weight: 200;
  font-size: 0.9rem;
  height: fit-content !important;
}

.follow-buton {
  position: relative;
  left: 270px;
  background-color: white;
  font-size: 0.9rem;
  height: 34px;
  font-weight: 600;
  border-radius: 20px;
  padding: 0px 18px;
  border: 0.3px solid black;
}
