* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.login {
  background-color: rgb(0, 0, 0);
}

.main {
  min-height: 92vh;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  min-height: 8vh;
  background-color: rgb(0, 0, 0);
  color: white;
}

.bg-img {
  background-image: url("../../login_left.png");
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  background-size: cover;
}

.login-info {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5%;
  color: white;
}

.main-title {
  font-size: 6rem;
  font-weight: bolder;
  letter-spacing: -1.2px;
}

.subtitle {
  font-size: 1.8rem;
}
.register_buttons {
  margin-top: 8px;
  padding: 1.5rem 0;
  font-weight: 800;
  max-width: 475px;
}

.register_google {
  font-weight: 600;
  color: #575859;
  /* width: 100%; */
}

.register {
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 12px 0px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 25px;
  text-decoration: none;
  transition: 0.4s;
}

.register_apple {
  color: #0f1419;
  font-weight: 700;
  /* width: 100%; */
}

.google-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.apple-icon {
  margin-right: 10px;
}

.new-register {
  background-color: #1a8cd8;
  font-size: 1.2rem;
  letter-spacing: 1.4px;
  font-weight: bolder;
  color: white;
  border: 0.1px solid white;
  padding: 10px;
  margin-top: 15px;
  /* width: 400px; */
}

.register_buttons .o {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.termins {
  font-size: 0.8rem;
  font-weight: 200;
}

.btn-close {
  color: white;
}

.line {
  /* display: inline-block;   */
  width: 100%;
  color: #bebebe;
  margin-bottom: 15px;
}

.rigth-bird {
  margin: 10% 0;
}

.o {
  line-height: normal;
  margin: 0;
}

.container-o {
  display: flex;
  justify-content: center;
  color: rgb(157, 157, 157);
  font-weight: bolder;
  width: 100%;
}

.have-account {
  color: white;
  font-weight: bolder;
}

.new-sesion {
  font-size: 1.2rem;
  letter-spacing: 1.4px;
  font-weight: bolder;
  color: white;
  border: 0.1px solid white;
  padding: 10px;
  margin-top: 15px;
  max-width: 475px;
  background-color: black;
}

.iniciar-sesion {
  margin: 10% 0;
}

.modal-dialog {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.modal-content {
  background-color: black !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
}

.modal-body {
  border-radius: 15px;
  background-color: #000000;
  /* padding: 0 !important; */
  width: 800px;
}

.elements {
  height: 100%;
  margin-bottom: 300px;
}

.botones_modal {
  height: 100%;
}

.div-modal-title {
  margin-bottom: 40px;
}

.modal-title {
  font-size: 3rem;
}

.register_apple-modal-1 {
  margin-top: 20px;
}

.container-o-modal-1 {
  margin-top: 20px;
}

.o-modal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  color: white;
  margin: 0.9rem 0 0.1rem 0;
}

.input-email-modal-1{
  margin-top: 20px;
}







.contenido-modal {
  color: white;
}

.modal-color-text-white {
  color: white;
}

botones_modal {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-email {
  padding: 14px 5px;
}

.input-email:placeholder-shown {
  background-color: black;
  color: white;
  min-width: 8rem;
  border: 0.5px solid #1a8cd8;
}

.siguiente {
  width: 100%;
}

.siguiente .input-email {
  width: 100%;
}

.siguiente p a {
  color: #1a8cd8;
}

.siguiente-btn {
  margin-top: 35px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.olvidaste-btn {
  margin-top: 30px;
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 0.2px solid white;
}

.errorMessage p, .login-login-message p{
font-size: 1.5rem;
color: red;
}

.modal-3 {
  width: 600px;
}

.btn-register {
  background-color: black;
  color: white;
  margin-top: 30px;
}
