.profileContainer {
  color: white;
  font-size: 14px;
}
.backArrow {
  height: 15px;
  width: 15px;
}

.profilePics {
  height: 330px;
}

.userNameTweets {
  position: relative;
  left: 20px;
}
.userName {
  font-size: 19px;
}

.userProfile {
  position: relative;
  left: 15px;
}

.headerPic {
  width: 100%;
  /* background-color: #16181c; */
  background-image: url(./img/tech.jpeg);
  height: 250px;
  margin: 0;
}

.userProfileImage {
  width: 9rem;
  height: 9rem;
  border-radius: 100px;
  margin: 10px;
  position: relative;
  bottom: 90px;
  border: solid black 4px;
}

.edit-btn {
  font-size: 0.8rem;
  border: solid white 0.5px;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  padding: 6px 15px;
  position: relative;
  bottom: 154px;
  left: 435px;
}

.follow-buton {
  display: flex;
  position: absolute;
  left: 268px;
  top: 19px;
  background-color: white;
  font-size: 0.9rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 80px;
  font-weight: 600;
  border-radius: 20px;
  padding: 0px 18px;
  border: 0.3px solid black;
}

.usr {
  color: #636363;
  font-size: 12px;
  margin: 0;
}

.userInfo {
  margin: 0 10px;
}

.born {
  color: #424853;
  font-size: 0.8rem;
  margin: 5px 0;
}

ul {
  list-style: none;
}
.profileList {
  margin-top: 10px;
  width: max-content;
  padding: 15px 20px 10px;
  color: #424853;
}

.profileList:hover {
  color: white;
  background-color: rgb(56, 56, 56);
  color: #424853;
}

.underline span {
  display: inline-block;
  color: white;
}

.underline span:after {
  content: "";
  height: 5px;
  background: #1a8cd8;
  border-radius: 5px;
  display: block;
  position: relative;
  bottom: -10px;
}

.followersSpan {
  position: relative;
  left: 10px;
}

.selectionSection {
  border-bottom: solid 0.2px #2f3336;
}
