.bodyPrueba {
  background-color: black;
  color: white;
}

.home {
  font-size: 1.4rem;
  margin: 10px 0;
  font-weight: bold;
}

.linkStyles {
  color: white;
  cursor: pointer;
}
.linkStyles:link,
.linkStyles:visited {
  text-decoration: inherit;
  text-decoration: none;
}

.linkStyles:hover {
  color: white;
}

.profileImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
}

h6 {
  display: inline-block;
  margin-right: 5px;
}

.user {
  color: #424853;
  font-size: 0.8rem;
  text-decoration: none;
}
.user:hover {
  color: #181818;
}
.tweet-icons {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.pruebaIconsDiv {
  background-color: black;
}

.horizontalLines {
  width: 100%;
  border-top: solid 0.2px #2f3336;
  border-bottom: solid 0.2px #2f3336;
  padding: 20px 0;
}

.separation {
  padding: 0 15px;
}
